# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Temporary files
*.tmp
*.swp
*.swo
*~

# Zsh files
zsh/.zcompdomp
zsh/.zsh_history
zsh/.zshrc
zsh/.zsh_history
zsh/.zcompdump*
